{% extends "admin.html" %}

{% block title %}Login{% endblock %}

{% block content_class %}window{% endblock %}
{% block content %}
    <form action="{{ url_for('admin_bp.handle_login') }}" method=post id="login-form">
        <ul class="fields">
            <li>
                <label for="username">Organization</label></br>
                <input type="text" id="username" name="username" style="width:200px">
            </li>
            <li>
                <label for="password">Password</label></br>
                <input type="password" id="password" name="password" style="width:200px">
            </li>
        </ul>

        {% if error %}
            <p class="red">{{ error }}</p>
        {% endif %}

        <div class="centered">
            <button id="login-button" type="submit">Login</button>
        </div>
    </form>
{% endblock %}

{% block js %}
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="{{ url_for('static',filename='js/login.js') }}"></script>
{% endblock %}