{% extends "admin.html" %}

{% block title %}Email Reports{% endblock %}

{% block content_class %}full{% endblock %}
{% block content %}

    <div class="reports">
    {% if data %} 
        <table>
            <tr class='reports-headers'>
                <th width=200>Timestamp</th>
                <th width=500>Reporter</th>
                <th width=500>Reportee</th>
            </tr>
        </table>
        {% for report in data | reverse %} 
            <div id="report-at-{{ report['id'] }}">
                <div class='full-report-toggle' toggles="{{ report['id'] }}">
                    <table>
                        <tr class='reports-row'>
                            <th width=200>
                                <div class='contents-container'>{{ report['timestamp'] }}</div> 
                            </th>
                            <th width=500>
                                <div class='contents-container'>{{ report['reporter'] }}</div> 
                            </th>
                            <th width=500>
                                <div class='contents-container'>{{ report['reportee'] }}</div> 
                            </th>
                        </tr>
                    </table>
                </div> 
                <div class='full-report hidden' id="full-report-{{ report['id'] }}">
                    <button class='deleter-button' will-delete="{{ report['id'] }}">Delete Report</button> 
                    <button class='blacklist-button' blacklists="{{ report['reportee'] }}">Blacklist Target</button>

                    <div class='report-space'></div>

                    <div class='report-header'>
                        <span class='report-title'>Reporter:</span><span> {{ report['reporter'] }}</span> 
                    </div>
                    <div class='report-header'>
                        <span class='report-title'>Reportee:</span><span> {{ report['reportee'] }}</span> 
                    </div>
                    <div class='report-header'>
                        <span class='report-title'>Timestamp:</span><span> {{ report['timestamp'] }}</span> 
                    </div>
                    <br>
                    <p class='report-title report-header'>Body:</p>
                    <div class='report-body'>{{ report['body']|safe }}</div>
                    <br>
                    <p class='report-title report-header'>Note:</p>
                    <p>{{ report['note'] }}</p>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <div>No entries.</div>
    {% endif %}
    </div>
    {% endblock %}

{% block css %}
    <link href="{{ url_for('static',filename='css/reportbrowser.css') }}" rel="stylesheet"/>
{% endblock %}

{% block js %}
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script>
        const urls = {
            delete_item: "{{ url_for('admin_bp.delete_item') }}", 
            blacklist_address: "{{ url_for('api_bp.blacklist_address') }}", 
        } 

        const org_id = '{{ org_id }}'; 
    </script>
    <script src="{{ url_for('static',filename='js/reportbrowser.js') }}"></script>
{% endblock %}