{% extends "admin.html" %}

{% block title %}Settings{% endblock %}

{% block content_class %}full{% endblock %}

{% block content %}

<div class="fields-container">
    <!--
    <li>
        <label for="support_emails">Emergency support emails (separated by commas)</label><br>
        <textarea type="text" id="support_emails" name="support_emails"
        style="width:500px;height:100">{{ support_emails_str }}</textarea>
    </li>
    --> 

    <div class="field">
        <h1>Whitelist</h1>
        <label for='whitelist_input'>Enter one email item (user@domain.com) per line. Regex formatting is supported. <a href="/regex">More info</a></label>
        <textarea id='whitelist_input' class='list-input' spellcheck=false></textarea> 
        <br>
        <button id='whitelist_submit' class='settings-submit'>Save</button> 
        <span style="display:inline-block; width: 6px"></span>
        <p id='whitelist_format_error_msg' class='red'>Incorrect formatting!</p>
    </div>

    <div class="field">
        <h1>Blacklist</h1>
        <label for='blacklist_input'>Enter one email item (user@domain.com) per line. Regex formatting is supported. <a href="/regex">More info</a></label>
        <textarea id='blacklist_input' class='list-input' spellcheck=false></textarea> 
        <br>
        <button id='blacklist_submit' class='settings-submit'>Save</button> 
        <span style="display:inline-block; width: 6px"></span>
        <p id='blacklist_format_error_msg' class='red'>Incorrect formatting!</p>
    </div>
</div>

{% endblock %}

{% block css %}
    <link href="{{ url_for('static',filename='css/settings.css') }}" rel="stylesheet"/>
{% endblock %}

{% block js %}

<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script> 
<script>
    const urls = {
        set_blacklist: "{{ url_for('admin_bp.set_blacklist') }}", 
        get_blacklist: "{{ url_for('api_bp.get_blacklist') }}", 
        set_whitelist: "{{ url_for('admin_bp.set_whitelist') }}", 
        get_whitelist: "{{ url_for('api_bp.get_whitelist') }}", 
    } 

    const org_id = '{{ org_id }}'; 
</script>
<script src="{{ url_for('static',filename='js/settings.js') }}"></script>

{% endblock %}