.reports {
  font-size: 14px;
}

.reports-headers {
  color: #ffffff;
  border: none;
  background: linear-gradient(135deg, #00a558 0%, #007994 100%);
}

.reports-row {
  background-color: #ffffffd0;
} 

.report-space {
  height: 40px; 
}

.contents-container {
  text-align: center; 
  vertical-align: middle;
  word-wrap: break-word; 
  height: 20px; 
  overflow: hidden; 
} 

.full-report {
  background-color: #ffffff;
  font-size: 16px; 
  width: 1130px; 
  margin-left: 2px; 
  padding: 40px; 
} 

.report-header {
  font-size: 18px; 
}

.report-title {
  text-decoration: underline; 
  font-weight: bold; 
} 

.hidden {
  display: none; 
} 

.veritas-link-confirm {
    animation: fadeIn ease 1s;
    font-size: 18px; 
    color: #000000; 
    position: absolute;
    z-index: 999; 
    background-color: #ffffff;
    border: solid 4px #00bb6d;
    border-radius: 10px; 
    overflow-wrap: anywhere;
    max-width: 1200px;
    padding: 20px;
    font-family: 'Google Sans', Roboto, RobotoDraft, Helvetica, Arial, sans-serif; 
    margin: 20px; 
    text-align: left; 
    line-height: normal;
} 

.link-confirm-href {
  color: #00aa77; 
} 

.highlighted-link {
  border: solid 4px #00bb6d; 
}