.reports {
  font-size: 14px;
}

.reports-headers {
  color: #ffffff;
  border: none;
  background: linear-gradient(135deg, #00a558 0%, #007994 100%);
}

.reports-row {
  background-color: #ffffffd0;
} 

.contents-container {
  text-align: center; 
  vertical-align: middle;
  word-wrap: break-word; 
  height: 20px; 
  overflow: hidden; 
} 

.full-report {
  background-color: #ffffff;
  font-size: 16px; 
} 

.report-header {
  font-size: 18px; 
}

.report-title {
  text-decoration: underline; 
  font-weight: bold; 
} 

.hidden {
  display: none; 
}