<!DOCTYPE html>
<html lang="en">

    {%- macro title() -%}
      {% block title %}{% endblock %}
    {%- endmacro -%}

  <head>
    <meta charset="utf-8">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link href="{{ url_for('static',filename='css/veritas.css') }}" rel="stylesheet"/>
    {% block css %}{% endblock %}
    <title>{{ title() }} | Veritas</title>
  </head>

  <body>

    <header>
      <img class='extension-logo' src="https://raw.githubusercontent.com/lchs-cybersecurity/veritas/master/assets/veritas.svg?sanitize=true" alt="Veritas">
      <span class='extension-name'>Veritas</span>
      <!-- Login widget -->
    </header>

    <div class="contents {% block content_class %}{% endblock %}">
      <h1>{{ title() }}</h1>
        {% block content %}{% endblock %}
    </div>

    <!--
    <footer>
      <div class="footer-right">
        <span>developed by <a href="https://lchs-cybersecurity.github.io/lchs-cybersecurity-site/">LCHS Cybersecurity Club</a></span><br/>
      </div>
    </footer>
    -->
  </body>

  {% block js %}{% endblock %}
 
</html>