{% extends "base.html" %}

{% block title %}Info & FAQ{% endblock %}

{% block content_class %}window{% endblock %}
{% block content %}
    <div class="notice-box">We're still working on this page!</div>
    <h2>About Veritas</h2>
    <p>Veritas is a phishing report system that streamlines and makes accessible the process of identifying, reporting and responding to attempted phishing attacks.</p>
    <a href="https://lchs-cybersecurity.github.io/lchs-cybersecurity-site/"><p>More info about Veritas and its developers</p></a>
    <h2>About Veritas Mission Control</h2>
    <p>Veritas Mission Control gives IT administrators the ability to:</p>
    <ul>
        <li>View and act on all phishing reports from users in their organization.</li>
        <li>Define and fine-tune an organization-wide email domain blacklist and whitelist.</li>
    </ul>
{% endblock %}

{% block js %}
{% endblock %}