{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content_class %}window{% endblock %}
{% block content %}
    <form action="{{ url_for('handle_login') }}" method=post id="login-form">
        <ul class="fields">
            <li>
                <label for="username">Username</label></br>
                <input type="text" id="username" name="username" style="width:200px">
            </li>
            <li>
                <label for="password">Password</label></br>
                <input type="password" id="password" name="password" style="width:200px">
            </li>
        </ul>

        <!-- Change to something stylish -->
        {% if failed %}
            <p><h3 style="color:red">Login failed.</h3></p>
        {% endif %}

        <div class="centered">
            <button id="login-button" type="submit">Login</button>
        </div>
    </form>
{% endblock %}

{% block js %}
    <script src="{{ url_for('static',filename='js/lib/jquery.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/login.js') }}"></script>
{% endblock %}