{% extends "base.html" %}

{% block title %}Report Browser{% endblock %}

{% block content_class %}full{% endblock %}
{% block content %}

    <div class="reports">
    <table>
        {% if data %}
            <tr class="reports-headers">
                <th width=200>Timestamp</th>
                <th width=200>Reporter</th>
                <th width=200>Reportee</th>
                <th width=400>Contents</th>
                <th width=200>Note</th>
            </tr>

            {% for report in data %}
                <tr class="reports-row" id="report-at-{{ report['timestamp'] }}">
                    <td>{{ report['timestamp'] }}</td>
                    <td>{{ report['reporter'] }}</td>
                    <td>{{ report['reportee'] }}</td>
                    <td>
                        <div class="contents-container">
                            {{ report['body']|safe }}
                        </div>
                    </td>
                    <td>{{ report['note'] }}</td>
                    <td>
                        <button class='deleter-button' will_delete="{{ report['timestamp'] }}">delete</button>
                    </td> 
                </tr>
            {% endfor %}
        {% else %}
            <tr>No entries.</tr>
        {% endif %}
    </table>
    </div>
    {% endblock %}

{% block css %}
    <link href="{{ url_for('static',filename='css/reportbrowser.css') }}" rel="stylesheet"/>
{% endblock %}

{% block js %}
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="{{ url_for('static',filename='js/reportbrowser.js') }}"></script>
    <script>
        function sendDelete(timestamp) {
            //makes the request
            let request = $.ajax({
                type: "POST",
                url: "{{ url_for('delete_item') }}", 
                contentType: "application/json", 
                dataType: "json",
                data: JSON.stringify({
                    timestamp: timestamp, 
                }),  
            }); 

            request.done(function( msg ) { //success
                console.log(msg) //console logs

                $(`#report-at-${timestamp}`).prop('hidden', true); //hides the html element that corresponds to the report
            }); 
            request.fail(function( jqXHR, textStatus ) {
                console.log(jqXHR)
            }); 
        } 

        $('.deleter-button').click(function(e) { //le event for when you click dat delete button
            let el = e.target; 
            let timestamp = el.getAttribute('will_delete'); //each of these buttons has this attribute, specifying which report to delete

            sendDelete(timestamp); 
        })
    </script>
{% endblock %}