{% extends "base.html" %}

{% block title %}Report Browser{% endblock %}

{% block content_class %}full{% endblock %}
{% block content %}

    <div class="reports">
    {% if data %} 
        <table>
            <tr class='reports-headers'>
                <th width=200>Timestamp</th>
                <th width=500>Reporter</th>
                <th width=500>Reportee</th>
            </tr>
        </table>
        {% for report in data %} 
            <div id="report-at-{{ report['id'] }}">
                <div class='full-report-toggle' toggles="{{ report['id'] }}">
                    <table>
                        <tr class='reports-row'>
                            <th width=200>
                                <div class='contents-container'>{{ report['timestamp'] }}</div> 
                            </th>
                            <th width=500>
                                <div class='contents-container'>{{ report['reporter'] }}</div> 
                            </th>
                            <th width=500>
                                <div class='contents-container'>{{ report['reportee'] }}</div> 
                            </th>
                        </tr>
                    </table>
                </div> 
                <div class='full-report hidden' id="full-report-{{ report['id'] }}">
                    <br>
                    <div class='report-header'>
                        <span class='report-title'>Author:</span><span> {{ report['reporter'] }}</span> 
                    </div>
                    <div class='report-header'>
                        <span class='report-title'>Target:</span><span> {{ report['reportee'] }}</span> 
                    </div>
                    <div class='report-header'>
                        <span class='report-title'>Time:</span><span> {{ report['timestamp'] }}</span> 
                    </div>
                    <br>
                    <p class='report-title report-header'>Body:</p>
                    <p>{{ report['body']|safe }}</p>
                    <br>
                    <p class='report-title report-header'>Note:</p>
                    <p>{{ report['note'] }}</p>
                    <br>
                    <button class='deleter-button' will-delete="{{ report['id'] }}">Delete Report</button> 
                    <button class='blacklist-button' blacklists="{{ report['reportee'] }}">Blacklist Target</button>
                    <br><br>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <div>No entries.</div>
    {% endif %}
    </div>
    {% endblock %}

{% block css %}
    <link href="{{ url_for('static',filename='css/reportbrowser.css') }}" rel="stylesheet"/>
{% endblock %}

{% block js %}
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="{{ url_for('static',filename='js/reportbrowser.js') }}"></script>
    <script>
        function sendDelete(id) {
            //makes the request
            let request = $.ajax({
                type: "POST",
                url: "{{ url_for('delete_item') }}", 
                contentType: "application/json", 
                dataType: "json",
                data: JSON.stringify({
                    id: id, 
                }),  
            }); 

            request.done(function( msg ) { //success
                console.log(msg) //console logs

                $(`#report-at-${id}`).prop('hidden', true); //hides the html element that corresponds to the report
            }); 

            request.fail(function( jqXHR, textStatus ) {
                console.log(jqXHR)
            }); 
        } 

        function sendBlacklist(address) {
            let request = $.ajax({
                type: 'POST', 
                url: "{{ url_for('blacklist_address') }}", 
                contentType: 'application/json', 
                dataType: 'json', 
                data: JSON.stringify({
                    address: address, 
                })
            }); 

            request.done(function(msg) {
                console.log(msg); 
            }); 

            request.fail(function( jqXHR, textStatus ) {
                console.log(jqXHR)
            }); 
        }

        $('.deleter-button').click(function(e) { //le event for when you click dat delete button
            let id = this.getAttribute('will-delete'); //each of these buttons has this attribute, specifying which report to delete

            sendDelete(id); 
        }); 

        $('.blacklist-button').click(function(e) {
            let address = this.getAttribute('blacklists'); 

            sendBlacklist(address); 
        })
        
        $('.full-report-toggle').click(function(e) { //when you click anywhere on the report header thing
            //console.log(this.children); 
            let id = this.getAttribute('toggles'); 

            $(`#full-report-${id}`).slideToggle(); //toggles the s l i d e
        }); 
    </script>
{% endblock %}